*{
	margin:0;
	padding:0;
}
/*body背景色*/
body{
	background-color: #0D7792;
}
/*全局div*/
.global{
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 710px;
	height: auto;
	background-color: #fff;
	border-radius:30px 30px 30px 30px;
}

.logo{
	margin-left: 29px;
	margin-top: 3px;
}

nav{
	font-size: 12px;
	float: right;
	margin-right: 30px;
	margin-top: 70px;
}
nav a{
	color: #FF0099;
	text-decoration: none;
	margin-left: 6px;
}

/*内容*/
article h3{
	color: #333;
	margin-left: 280px;
	margin-top: 20px;
}
/*注册信息*/
.regInfo{
	width: 640px;
	height: auto;
	margin-top: 18px;
	margin-left: 35px;
	border: solid 1px #ccc;
}
/*必要说明 */
.state{
	width: 640px;
	height: 60px;
	text-align: center;
	border-bottom: solid 1px #ccc;
	font-size: 12px;
	line-height: 20px;
	color: #333;
}
/*信息标题*/
.infoTitle{
	width: 640px;
	height: 23px;
	color:#0033AE;
	font-weight: bold;
	font-size: 12px;
	float: left;
	line-height: 23px;
	background-color: #eee;
}

.infoTitle h4{
	margin-left:15px;
}
/*表单项表格*/
.formTable{
	width: 640px;
	height: 22px;
	border:solid 1px #ccc;
	font-size: 12px;
	color: #333;

}
.formTable lable{
	float: right;
}

.formTable tr{
	border:solid 1px #ccc;
}
.mlable{
	 width:135px;
}

.formTable input{
	width: 240px;
	height: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	border: 1px solid #A9A9A9;
}
.formTable span{
	color:#0000FF;
}

/*提交按钮*/
.bt{
	width: 85px;
	height: 22px;
	margin-left: 277px;
	margin-top: 30px;
	margin-bottom: 30px;
}
table
{
	border-collapse:collapse;
}
table,tr,td
{
	border: 1px solid #ccc;
}

/*页脚版权*/
footer{
	text-align: center;
	margin-top: 2px;
	margin-bottom: 30px;
	height: 48px;
}
footer p{
	color: #333;
	font-size: 12px;
}